.main {
  padding: 0 40px 0;
}

.main__title {
  margin: 0 0 34px;
  font-size: 20px;
}

.main__section {
  margin-top: 40px;
}

.main__items {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.main__items_gap_171 {
  margin-bottom: 171px;
}

.main__items_gap_85 {
  margin-bottom: 85px;
}

@media screen and (max-width: 1280px) {
  .main {
    padding: 0 24px 0;
  }

  .main__items {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (max-width: 1024px) {
  .main__items {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 768px) {
  .main {
    padding: 0 16px;
  }

  .main__items {
    grid-template-columns: 1fr;
    gap: 12px;
  }

  .main__items_gap_171,
  .main__items_gap_85 {
    margin-bottom: 24px;
  }
}
